@using WebShop.Client.Components.Features
@inherits LayoutComponentBase


<div class="container">
	<div class="header">
		<h1>The Amazing Webshop</h1>
		<CartButton CartItemCount="CartItemCount"></CartButton>
	</div>
	<div class="sidebar">
		<NavMenu/>
	</div>

	<main class="content">
		<article class="content">
			@Body
		</article>
	</main>
</div>

@code {
	private int CartItemCount { get; set; }

	[Parameter] public bool IsLoggedIn { get; set; }

	protected override void OnInitialized()
	{
		
	}

}