@using WebShop.Client.Components.Features
@inherits LayoutComponentBase

<div class="container">
	<div class="header">
		<ShopHeader></ShopHeader>
		<div class="cart-container">
			<i class="fa fa-shopping-cart cart-icon"></i>
			<span class="cart-badge">5</span>
		</div>
	</div>
	<div class="sidebar">
		<NavMenu/>
	</div>

	<main class="content">
		<article class="content">
			@Body
		</article>
	</main>
</div>