@using WebShop.Client.Components.Features
@inherits LayoutComponentBase

<div class="container">
	<div class="header">
		<ShopHeader></ShopHeader>
		<CartButton></CartButton>
	</div>
	<div class="sidebar">
		<NavMenu/>
	</div>

	<main class="content">
		<article class="content">
			@Body
		</article>
	</main>
</div>

@code {
	[Parameter]
	public int CartItemCount { get; set; } = 5;
}