h1 {
    font-size: 20px;
    margin: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: bisque;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "header header"
        "sidebar content";
}

.header {
    grid-area: header;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.sidebar {
    grid-area: sidebar;
    background-color: lightskyblue;
    padding: 0px;
    border: 2px solid indianred;
    justify-content: center;
}



@media only screen and (min-width: 600px) {
    .container {
        grid-template-columns: 200px 1fr;
    }
    .header {
        /* No changes needed here */
    }

    .sidebar {
        /* No changes needed here */
    }

    .content {
        /* No changes needed here */
    }
    h1 {
        background-color: lightgreen;
        font-size: 32px;
    }
}