@using WebShop.Client.Components.Features
@inherits LayoutComponentBase



<div class="container">
	<header class="header">
		<h1>The Amazing Webshop</h1>

		<CartButton></CartButton>
	</header>
	<aside class="sidebar">
		<NavMenu />
	</aside>

	<main class="content">
		<article class="content">
			@Body
		</article>
	</main>
</div>

@code {
	

}
