@using System.Security.Claims
@using WebShop.Client.Components.Features
@using WebShop.Client.Components.Services
@inherits LayoutComponentBase
@inject WebshopAuthenticationStateProvider AuthenticationStateProvider


<div class="container">
	<div class="header">
		<h1>The Amazing Webshop</h1>
		<CartButton CartItemCount="CartItemCount"></CartButton>
	</div>
	<div class="sidebar">
		<NavMenu />
	</div>

	<main class="content">
		<article class="content">
			@Body
		</article>
	</main>
</div>

@code {
	private int CartItemCount { get; set; } = 0;
	private ClaimsPrincipal? _user;

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		_user = authState.User;

		StateHasChanged();
	}
}

