
<div class="nav-bar">
	<nav class="nav-column">
		<div class="nav-item">
			<NavLink href="/">
				<div class="nav-link">
					Home
				</div>
			</NavLink>
		</div>
		<AuthorizeView>
			<Authorized>
				<div class="nav-item">
					<NavLink href="/user">
						<div class="nav-link">
							My Account
						</div>
					</NavLink>
				</div>
			</Authorized>
			<NotAuthorized>
				<div class="nav-item">
					<NavLink href="/user">
						<div class="nav-link">
							Login
						</div>
					</NavLink>
				</div>
				<div class="nav-item">
					<NavLink href="/usercreate">
						<div class="nav-link">
							Create Account
						</div>
					</NavLink>
				</div>
			</NotAuthorized>
		</AuthorizeView>
	</nav>
</div>

@code
{
	[Parameter] public bool IsLoggedIn { get; set; }
}

