<div class="nav-bar">
    <nav class="nav-column">
        <div class="nav-item">
	        <NavLink class="nav-link" href="account" Match="NavLinkMatch.All">
                Create Account
	        </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="cart">
                Show Cart
            </NavLink>
        </div>
    </nav>
</div>

