<div class="nav-bar">
	<nav class="nav-column">
		<div class="nav-item">
			<NavLink href="/">
				<div class="nav-link">
					Home
				</div>
			</NavLink>
		</div>
		<div class="nav-item">
			<NavLink href="/user">
				<div class="nav-link">
					Login
				</div>
			</NavLink>
		</div>
		<div class="nav-item">
			<NavLink href="/user">
				<div class="nav-link">
					My Account
				</div>
			</NavLink>
		</div>
		<div class="nav-item">
			<NavLink href="/user">
				<div class="nav-link">
					Create Account
				</div>
			</NavLink>
		</div>

	</nav>
</div>

@code
{

}

