@using WebShop.Client.Components.Services
@inject CartService CartService
@rendermode InteractiveServer
@inject NavigationManager NavManager

<div class="cart-container" @onclick="NavigateToCart">
	<a class="nav-link">
		<i class="fa fa-shopping-cart cart-icon"></i>
	</a>
	<span class="cart-badge">@CartItemCount</span>
</div>

@code {
	private int CartItemCount => CartService.CartItemCount; // Get value directly

	protected override void OnInitialized()
	{
		// Subscribe to cart updates
		CartService.OnCartUpdated += HandleCartUpdated;
	}

	private void HandleCartUpdated(int count)
	{
		// Force component re-render
		InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		// Unsubscribe to prevent memory leaks
		CartService.OnCartUpdated -= HandleCartUpdated;
	}
	public void NavigateToCart()
	{
		NavManager.NavigateTo("/cart", forceLoad: false);
	}
	
	
}
