@rendermode InteractiveServer
@using WebShop.Client.Components.Services
@inject IHttpClientFactory HttpClientFactory
@inject IHttpContextAccessor HttpContextAccessor
@inject WebshopAuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject CartService CartService


<div class="form-container">
	<h3>Login</h3>
	<input class="text-input" type="email" placeholder="Email" @bind="@_email" />
	<input class="text-input" type="password" placeholder="Password" @bind="@_password" />
	<button class="submit-button" @onclick="HandleLogin">Login</button>
</div>

@code {
	private string _email = string.Empty;
	private string _password = string.Empty;
	private string _message = string.Empty;

	private async Task HandleLogin()
	{
		var responseMessage = await AuthenticationStateProvider.SignInAsync(_email, _password);

		if (responseMessage.IsSuccessStatusCode)
		{
			await CartService.GetCart();
			await CartService.SyncCartToDatabase();
			NavigationManager.NavigateTo("/");
		}
		else
		{
			_message = "Login failed";
		}
	}
	
}
