@rendermode InteractiveServer
@using WebShop.Client.Components.Services
@inject IHttpClientFactory HttpClientFactory
@inject IJSRuntime JsRuntime
@inject WebshopAuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<div class="form-container">
	<h3>Login</h3>
	<input class="text-input" type="email" placeholder="Email" @bind="@_email" />
	<input class="text-input" type="password" placeholder="Password" @bind="@_password" />
	<button class="submit-button" @onclick="HandleLogin">Login</button>
</div>

<AuthorizeView>
	<Authorized>Logged in: @context.User.Identity?.Name</Authorized>
	<NotAuthorized>Not logged in</NotAuthorized>
</AuthorizeView>
@code {
	private string _email = string.Empty;
	private string _password = string.Empty;

	private async Task HandleLogin()
	{
		var loggedIn = await AuthenticationStateProvider.SignInAsync(_email, _password);
		if (loggedIn)
		{
			NavigationManager.NavigateTo("/");
		}
		
	}
}
