@inject NavigationManager NavManager

<div class="product-card" @onclick="NavigateToProductPage">
	<img src="@ImageUrl" alt="name" />
	<h3>@Name</h3>
	<p>@Price.ToString("C")</p>
	<button @onclick="AddToCart">Add to Cart</button>
</div>

@code
{
	[Parameter] public int ProductId { get; set; }
	[Parameter] public string Name { get; set; } = "ProductName";
	[Parameter] public string Description { get; set; } = "Description";
	[Parameter] public string ImageUrl { get; set; } = "default.jpg";
	[Parameter] public double Price { get; set; }

	private void NavigateToProductPage()
	{
		NavManager.NavigateTo($"/product/{ProductId}");
	}
	private void AddToCart()
	{
		
	}
}