@page "/createuser"
@using WebShop.Client.Components.Features
@rendermode InteractiveServer

<main class="user-creation-container">
	<section class="user-creation-form">
		<h1>Create Account</h1>
		<UserCreation></UserCreation>
	</section>
</main>
@code {
	
}
