@page "/"
@rendermode InteractiveServer
@using WebShop.Client.Components.Features
@using Webshop.Shared.Models
@inject IHttpClientFactory HttpClientFactory

<PageTitle>The Awesome Webshop</PageTitle>

<h1>Our products</h1>

<div class="product-grid">


	@foreach (var p in _products)
	{
		<ProductCard ProductId="@p.Id" Name="@p.Name" ImageUrl="@p.ImageUrl" Price="@p.Price"></ProductCard>
	}


</div>

@code
{
	List<Product> _products = new();

	protected override async Task OnInitializedAsync()
	{
		var client = HttpClientFactory.CreateClient("MinimalApi");
		var response = await client.GetFromJsonAsync<List<Product>>($"api/Products");
		if (response != null)
		{
			_products = response;
		}
	}
	
}
