@page "/product/{id:int}"
@using Webshop.Shared.Models
@using WebShop.Client.Components.Features
@rendermode InteractiveServer
@inject IHttpClientFactory HttpClientFactory

@if (CurrentProduct == null)
{
<p>Loading...</p>
}
else
{
	<PageTitle>@CurrentProduct?.Name</PageTitle>
	<ProductSingle CurrentProduct="CurrentProduct"></ProductSingle>
}

@code {
	[Parameter] public int Id { get; set; }

	private ProductDTO? CurrentProduct { get; set; }

	protected override async Task OnInitializedAsync()
	{
		var client = HttpClientFactory.CreateClient("MinimalApi");
		CurrentProduct = await client.GetFromJsonAsync<ProductDTO>($"api/Products/{Id}");
	}
}
