@page "/user"
@using WebShop.Client.Components.Features
@inject IHttpClientFactory HttpClientFactory
@rendermode InteractiveServer

<main class="user-container">
	<LoginForm></LoginForm>
</main>

@code {

}
