@page "/user"
@using WebShop.Client.Components.Features
@inject IHttpClientFactory HttpClientFactory
@rendermode InteractiveServer

<main class="user-container">
	
	<AuthorizeView>
		<Authorized>

		</Authorized>
		<NotAuthorized>
			<LoginForm></LoginForm>
		</NotAuthorized>
	</AuthorizeView>
	
	
</main>
@code {
	 private bool _isLoggedIn = false;

	 private void HandleLoginStateChanged(bool isLoggedIn)
	 {
		 _isLoggedIn = isLoggedIn;
		 StateHasChanged();
	 }

}
