@page "/user"
@using WebShop.Client.Components.Features
@inject IHttpClientFactory HttpClientFactory
@rendermode InteractiveServer

<main class="user-container">
	
	@if (!_isLoggedIn)
	{
		<LoginForm></LoginForm>
	}
	else
	{
		<AccountDetails></AccountDetails>
	}
	
</main>
@code {
	 private bool _isLoggedIn = false;

	 private void HandleLoginStateChanged(bool isLoggedIn)
	 {
		 _isLoggedIn = isLoggedIn;
		 StateHasChanged();
	 }

}
